In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
shark = pd.read_csv('~/Documentos/projecto-pandas/GSAF5.csv', engine="python")

In [3]:
display(shark.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
shark_file = shark [["Date", "Year", "Type", "Country", "Area", "Location", "Activity", "Sex ", "Age", "Injury", "Fatal (Y/N)", "original order"]]

In [5]:
display(shark_file.head())

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),original order
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,5993
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,5992
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,5991
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,5990
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,5989

In [6]:
print (len(shark_file['Sex ']))
shark_file.isnull().sum()

5992

Date                 0
Year                 0
Type                 0
Country             43
Area               402
Location           496
Activity           527
Sex                567
Age               2681
Injury              27
Fatal (Y/N)         19
original order       0
dtype: int64

In [7]:
shark_file["Sex "].value_counts()

M      4835
F       585
M         2
lli       1
.         1
N         1
Name: Sex , dtype: int64

In [8]:
def transform_sex(x):
    if x=='M ' or x=='N' or x=="M": return 'M'
    elif x=='.' or x=='lli': return 'Na'
    elif x=='F': return "F"

In [9]:
shark_file['Sex ']=shark_file['Sex '].apply(transform_sex)

shark_file["Sex "].value_counts()

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

M     4838
F      585
Na       2
Name: Sex , dtype: int64

In [10]:
shark_file["Fatal (Y/N)"].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
#VALUE!       1
N             1
F             1
n             1
Name: Fatal (Y/N), dtype: int64

In [11]:
print (len(shark_file['Fatal (Y/N)']))

5992

In [12]:
def transform_fatal(x):
    if x=='UNKNOWN' or x=='#VALUE!' or x=="F": return 'Na'
    elif x==' N' or x=='n' or x=='N ': return 'N'
    elif x=='N': return 'N'
    elif x=='Y': return 'Y'

In [13]:
shark_file['Fatal (Y/N)']=shark_file['Fatal (Y/N)'].apply(transform_fatal)

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
shark_file["Fatal (Y/N)"].value_counts()

N     4325
Y     1552
Na      96
Name: Fatal (Y/N), dtype: int64

In [15]:
shark_file["Type"].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [16]:
def transform_type(x):
    if x=='Boat' or x=='Boating' or x=="Sea Disaster": return 'Boat'
    elif x=='Invalid': return 'Na'
    elif x=='Provoked': return 'Provoked'
    elif x=='Unprovoked': return 'Unprovoked'

In [17]:
shark_file['Type']=shark_file['Type'].apply(transform_type)

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
#shark_file["Activity"].value_counts()

In [19]:
shark_file['Sex '] = shark_file['Sex '].fillna(-99)

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
shark_file['Sex '].value_counts()

M      4838
F       585
-99     567
Na        2
Name: Sex , dtype: int64

In [21]:
shark_file['Fatal (Y/N)'] = shark_file['Fatal (Y/N)'].fillna(-99)

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
shark_file['Fatal (Y/N)'].value_counts()

N      4325
Y      1552
Na       96
-99      19
Name: Fatal (Y/N), dtype: int64

In [23]:
shark_file['Activity'].value_counts()

Surfing                                                                  904
Swimming                                                                 819
Fishing                                                                  414
Spearfishing                                                             321
Bathing                                                                  153
Wading                                                                   144
Diving                                                                   123
Standing                                                                  97
Snorkeling                                                                77
Scuba diving                                                              74
Body boarding                                                             54
Body surfing                                                              48
Swimming                                                                  47
Pearl diving                                                              32
Treading water                                                            32
Boogie boarding                                                           28
Kayaking                                                                  28
Free diving                                                               26
Fell overboard                                                            21
Windsurfing                                                               18
Boogie Boarding                                                           16
Shark fishing                                                             15
Walking                                                                   15
Rowing                                                                    12
Surf-skiing                                                               12
Canoeing                                                                  12
Floating                                                                  12
Fishing                                                                   12
Surf skiing                                                               12
Surf fishing                                                              11
                                                                        ...
Boat capsized                                                              1
Collecting fish by lamplight in gully                                      1
Wakeboarding                                                               1
Fishing in Alabama Deep Fishing Rodeo                                      1
Catching crabs                                                             1
British ship, Britannia,  was loading lumber. He was bathing               1
Fishing, removing the shark from his line                                  1
a corsair's boat was overturned                                            1
Thrown into water from fishing dinghy                                      1
Fishing for tarpon                                                         1
Stamding                                                                   1
Body surfing or Boogie boarding                                            1
Swimming to shore with floatioon devices after boat engine conked out      1
Adrift on life raft                                                        1
Wading after stray fish from seine netterï¿½s catch                          1
Diving / fishing                                                           1
Swimming, caught in strong backwash & disappeared                          1
Hand lining for shad                                                       1
A man's head found in a shark caught by British steamer Syria              1
Capsized fishing boat                                                      1
Wading, fishing for flounder                                               1
Fishing, stepped on hooked shark's head                                    1
"Crossing the river"                                                       1
Hookah diving                                                              1
Swimming with other crew near wharf                                        1
Swimming / jumping off a jetty                                             1
Skindiving,                                                                1
Salvaging a shipwreck                                                      1
Washed into sea while picking opihi & attacked by 2 large sharks           1
Placed hand in disemboweled sharkï¿½s jaws                                   1
Name: Activity, Length: 1492, dtype: int64

In [24]:
shark_file['New_activity'] = shark_file['Activity'].str.findall('Swimming')

/home/jjespper/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

AttributeError: 'StringMethods' object has no attribute 'sum'

In [ ]:
def categoriazar_act(l):
    l = str(l)
    if (re.search('\w*[Ss]urf\w*')|('\w*[Kk]ayak\w*'),l):
        return 'Deporte de riesgo'
    elif (re.search(('\w*[Ff]ishing\w*')|('      '),l):
          return 'Trabajo'
    elif (re.search('\w*[Dd]iv\w*')|('\w*[Bb]ath\w*')|('      '), l):
          return 'Ocio'
    elif (re.search('\w*[Ww]ad\w*')|,('\w*[Ss]tand\w*')|('\w*[Tt]read\w*')|('      ') l):
          return 'No clasiflicable'